body{
    font-family: "Calibri";
    background: rgb(254,235,221);
    background: radial-gradient(circle, rgba(254,235,221,1) 41%, rgba(207,147,121,1) 96%);
    padding-left: 3%;
    padding-top: 40px;
    margin-right: 0;
}
img{
 opacity: 100%;
}
.sheet{
    width: 97%;
    display: flex;
    flex-direction: row;
    background-color: #fcfcfc;
}
@media screen and (max-device-width: 480px) {
    .sheet {
        width: 180%;
    }
    body{

        padding-left: 5%;

    }
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 3px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* mouse over link */
.language_svitch:hover {
    color: hotpink;
}

/* selected link */
.language_svitch:active {
    color: blue;
}


/*---------Right-------------------------------*/

.inform_ico{
    width: 55px;
    height: 55px;
    margin:  26px 15px 40px 0;
}
.right_part{
    padding-top: 2%;
    padding-left: 1%;
}
.title{
    display: flex;
    flex-direction: row;
    color: #343c3e;
    font-size: xx-large;
}
.text_box{
    font-family: Calibri;
    color: #343c3e;


}
.subtitle{
    font-size: x-large;
    margin-bottom: 0;
}
.data_subtitle{
    margin-top: 1%;

}
.subtitle, .data_subtitle{
    width: 50%;
    padding-left: 6%;

}
.underline{
    background-color: #2a839c;
    width: 60px;
    height: 6px;
    margin-left: 6%;
}
.skill_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: end;
}
.skill_line{
    width:55%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.skill_name{
    padding-right: 35px;
}
.skill_graf{
    height: 40px;
    width:300px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(238,238,238,0) 25%,
    rgba(238,238,238,1) 25%, rgba(238,238,238,1) 75%, rgba(238,238,238,0) 75%);
    margin-top: 0;
    margin-bottom: 0;
}
.skill_name, .skill_graf{
    margin: 0 0 15px 10px;
    font-size: medium;
}
.slider{
    width: 35px;
    height: 35px;
    margin-top: 5px;
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%,
    rgba(0,0,0,0) 50%, rgba(144,183,196,1) 50%, rgba(144,183,196,1) 100%);
}
.language_box{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 9%;
}

.level_box{
    background: rgb(250, 250, 250);
    background: linear-gradient(135deg, rgb(250, 250, 250) 0%,
    rgb(250, 250, 250) 50%,
    rgb(238, 238, 238) 50%,
    rgb(238, 238, 238) 100%);
    height:  80px;
    width:  80px;
}
.level_point{
    background-color: #25879f;
    width: 71px;
    height: 5px;
    margin-left: 5px;
}







/*---------Left-------------------------------*/
.left_part{
    margin-left: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #98bcc8;
    width: 300px;
    height: 88%;
    margin-top: 3%;
    padding: 3% 2% 6% 1%;
    text-align: center;
    align-items: center;
    align-content: center;
}

#about_me_txt{
    color: #425a63;

}

.profile{

}


.heder_for_box{
    font-family: "Calibri";
    font-size: xx-large;
    justify-content: center;
    color: #425a63;
}
.social_box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.link{

}
.social{
margin: 0;
}
p#name, p#surname, p#profesion{
    font-size: xx-large;
    font-family: Alef;
    margin: 0;
    color: white;
    justify-content: center;

}
p#profesion{
    font-size: medium;
}
.naming{
    text-align: center;
}

/*-------intresting---------*/
#intresting_box{
    background: rgb(183,205,219);
    background: linear-gradient(135deg, rgba(183,205,219,1) 0%,
    rgba(183,205,219,1) 50%,
    rgba(151,187,199,1) 50%,
    rgba(151,187,199,1) 100%);
    width: 100px;
    height: 100px;

    text-align: center;
    font-size: small;
    font-family: Calibri;
    font-weight: bold;
    color: #425a63;

}
p.list_hobbies{
    margin: 0;
    margin-top: 2%;
}
.contackt_info{
    font-size: medium;
    font-family: Calibri;
    margin: 1px;
    color: #425a63;
}


.feedback_box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.feedback_txt, input{
    margin-bottom: 3%;
}
#email_form{
    outline: none;
    height: 25px;
    padding-left: 4%;

    border-radius: 10px 10px 0 0 ;
    background: #c4dbe9;
    border: 1px solid #999;

}
.feedback_txt{
    outline: none;
    -moz-appearance: none;
    border: 1px solid #999;
    resize: none;
    padding-left: 4%;
    padding-right: 4%;
    height: 150px;
    background: #c4dbe9;
}
.button {
    outline: none;
    display: inline-block;
    border-radius:  0 0 10px 10px ;
    background: #b8cedc ;
    border: none;
    color: #5b5b5f;
    text-align: center;
    font-size: 17px;
    padding: 20px;
    font-weight: bold;
    transition: all 0.5s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -18px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 15px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}